<div class="panel panel-default">
  <div class="panel-heading">Gestion des catégories</div>
  <div class="panel-body">

    <div>
      <button class="btn btn-success" (click)="onNewCat()" >
        <span class="glyphicon glyphicon-plus">
        </span>
      </button>
    </div>
    <p></p>

    <div *ngIf="mode=='new-cat'" class="col-md-6">
    <form #f="ngForm" (ngSubmit)="onSaveCat(f.value)">
      <div class="form-group">
        <label class="control-label">Name</label>
        <input type="text" name="name" ngModel class="form-control">
      </div>
      <button class="btn btn-success" type="submit">save</button>
    </form>
  </div>

    <div *ngIf="mode=='edit-cat'" class="col-md-6">
      <form #f="ngForm" (ngSubmit)="onUpdateCat(f.value)">
        <div class="form-group">
          <label class="control-label">Nom du catégorie</label>
          <input type="text" name="name" ngModel class="form-control" [(ngModel)]="currentCategorie.name"/>
        </div>
        <button class="btn btn-success" type="submit">update</button>
      </form>

    </div>

<div *ngIf="mode=='list'">
    <table class="table" *ngIf="categories">
      <tr>
        <th>Name</th>
      </tr>
      <tr *ngFor="let c of categories._embedded.categories">
        <td>{{c.name}}</td>
        <td>
          <button class="btn btn-danger" (click)="onDeleteCat(c)">
          <span class="glyphicon glyphicon-remove">
          </span>
          </button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="onEditCat(c)">
          <span class="glyphicon glyphicon-edit">
          </span>
          </button>
        </td>
      </tr>
    </table>
</div>
  </div>
</div>
